<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="$(arg prefix)_pressure" type="sensor">
        <hardware>
            <plugin>riptide_hardware/PressureHardware</plugin>
            <param name="port">/dev/i2c-1</param>
            <param name="calibration_pressure">98500</param>
        </hardware>
        <sensor name="$(arg prefix)_pressure">
            <state_interface name="pressure"/>
            <state_interface name="temperature"/>
            <state_interface name="depth"/>
            <state_interface name="altitude"/>
        </sensor>
    </ros2_control>
     
</robot>