<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<ros2_control name="$(arg prefix)_tail" type="system">
        <hardware>
            <plugin>riptide_hardware/TailHardware</plugin>
            <param name="port">/dev/ttyUSB0</param>
            <param name="baudrate">115200</param>
            <param name="expiration_duration_ms">100</param>
        </hardware>
		<joint name="$(arg prefix)_thruster">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
                <param name="initial_value">1500</param>
            </command_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="$(arg prefix)_d_fin">
            <command_interface name="position">
                <param name="min">"${-pi/4}"</param>
                <param name="max">"${pi/4}"</param>
            </command_interface>
            <state_interface name="position">
                <param name="neutral_pwm">1500</param>
            </state_interface>
        </joint>
        <joint name="$(arg prefix)_p_fin">
            <command_interface name="position">
                <param name="min">"${-pi/4}"</param>
                <param name="max">"${pi/4}"</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="$(arg prefix)_s_fin">
            <command_interface name="position">
                <param name="min">"${-pi/4}"</param>
                <param name="max">"${pi/4}"</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <sensor name="$(arg prefix)_rc">
            <state_interface name="ch1"/>
            <state_interface name="ch2"/>
            <state_interface name="ch3"/>
            <state_interface name="ch4"/>
            <state_interface name="ch5"/>
            <state_interface name="ch6"/>
        </sensor>
        <sensor name="$(arg prefix)_multiplexer">
            <state_interface name="control"/>
            <state_interface name="remaining_time"/>
        </sensor>
    </ros2_control>
     
</robot>